{% extends "base.html" %}
{% load blogs_tags %}
{% load crispy_forms_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <br><br>
    {% if post.image %}
        {% if content_type.is_image %}
            <img src="{{ post.image.url }}" width="500">
        {% elif content_type.is_video %}
            <video src="{{ post.image.url }}" width="450" controls></video>
        {% elif content_type.is_audio %}
            <audio src="{{ post.image.url }}" controls></audio>
        {% else %}
            <a href="{{ post.image.url }}" download>Скачать {% image_name_without_path post.id post_type %}</a>
        {% endif %}
    {% endif %}
    <br><br>
    {% if post.body %}
            <div class="border border-black rounded-3">
                <pre>{{ post.body }}</pre>
            </div>
    {% endif %}
    <br><br>
    <div class="alert alert-info" role="alert">
        <ul>
            <li>Опубликован: {{ post.publish }} </li>
            <li>Опубликовал: {{ post.author }}</li>
            {% if post.image %}
                <li>Название файла: {% image_name_without_path post.id post_type %}</li>
                <li>Размер файла: {% get_image_size_in_megabytes post.id post_type %} МБ</li>
                {% if content_type.is_image %}
                    <li>Размер изображения: {% get_image_width_height post.id post_type %}</li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
    <br><br>
    {% if post_type == "photo_gallery" %}
        <a href="{% url "blogs:delete_post" post.id post_type %}" class="btn btn-danger">Удалить пост</a>
    {% endif %}
    <br><br><br><br><br>
    <br><br><br><br><br>
    {% if post_type == "text_post" %}
        {% if comments %}
            <ol class="list-group list-group-numbered">
                {% for comment in comments %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ comment.title }} от {{comment.author}}</div>
                        {{ comment.body }}
                    </div>
                    <span class="badge text-bg-primary rounded-pill">{{ comment.publish }}</span>
                    </li>
                {% endfor %}
            </ol>
        {% else %}
        <div class="alert alert-dark" role="alert">
            Пока никто не оставил коментарий
        </div>
        {% endif %}
        <br><br><br>
        {% if request.user.is_authenticated %}
            <h3>Оставить коментарий</h3>
            <form action="{% url "blogs:post_detail" post.id post_type %}" method="post">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <input type="submit" class="btn btn btn-success" value="Оставить коментарий">
            </form>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Чтобы оставить коментарий, пожалуйста зарегестрируйтесь
            </div>
        {% endif %}
    {% endif %}
{% endblock %}