{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Сменить пароль{% endblock %}

{% block body %}
    <h1>Сменить пароль</h1>
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Сменить пароль" class="btn btn-success">
        </form>
    {% else %}
        <p>Ссылка на смену пароля некорректна. Возможно она была использованна. Пожалуйста, повторите попытку запроса смены пароля еще раз.</p>
    {% endif %}
{% endblock %}