{% extends "base.html" %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Список постов</h1>
    <a href="{% url "blogs:create_text_post" %}">Создать текстовый пост</a>
    {% for post in text_posts %}
        <h4><a href="{% url "blogs:text_post_detail" post.id %}">{{ post.title }}</a></h4>
        <pre>{{ post.body|truncatewords:30 }}</pre><a href="{% url "blogs:delete_post" post.id %}">Удалить</a>
        <p>------------------------------------------------------------------------------------------------------------</p>
    {% endfor %}
{% endblock %}